
@{
    ViewData["Title"] = "Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 center">
    <h1 style="color:red">Bạn không có quyền truy cập vào mục này</h1>
</div>


