

@{
    ViewData["Title"] = "Quản lý nhà cung cấp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>

        const myTimeout = setTimeout(myGreeting, 4000);

        function myGreeting() {
          $('#msgAlert').fadeOut('slow')
        }
    </script>
}
<div class="pagetitle">
    <h1>Quản lý nhà cung cấp</h1>
    <nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item">Danh mục</li>
        <li class="breadcrumb-item">Nhà cung cấp</li>
        @*<li class="breadcrumb-item active">Data</li>*@
    </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
      <div class="card">
        <div class="card-body">

          <h5 class="card-title"></h5>

          <!-- Multi Columns Form -->
          <form class="row g-3">
            
            <div class="col-md-6">
              <label class="form-label">Mã số thuế<a style="color: red;"> *</a></label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="form-label">Tên công ty<a style="color: red;"> *</a></label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="form-label">Số điện thoại</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="form-label">Email</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="form-label">Mã nhóm </label>
              <select id="inputState" class="form-select">
                <option selected>...</option>
                <option>NDL</option>
                <option>NSX</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label">Website</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-12">
              <label class="form-label">Địa chỉ</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-12">
              <label class="form-label">Ghi chú</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-12" style="text-align: center;">
              <div class="card">
                  <div class="card-body ">
                      <h5 class="card-title "></h5>
                      <button type="submit" class="btn-ct btn-create">Thêm mới</button>
                      <button type="submit" class="btn-ct btn-save-1" disabled>Lưu</button>
                      <button type="submit" class="btn-ct btn-cancel-1" disabled>Hủy</button>
                      <button type="submit" class="btn-ct btn-lock" disabled>Khóa</button>
                      <button type="submit" class="btn-ct btn-unlock" disabled>Mở khóa</button>
                    </div>
               </div>
            </div>
            <div class="col-md-12" style="text-align: center;">
              <div class="card">
                  <div class="card-body" style="overflow-x:auto">
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Mã số thuế</th>
                      <th scope="col">Tên công ty</th>
                      <th scope="col">Nhóm</th>
                      <th scope="col">Email</th>
                      <th scope="col">Website</th>
                      <th scope="col">Số điện thoại</th>
                      <th scope="col">Địa chỉ</th>
                      <th scope="col">Ghi chú</th>
                      <th scope="col">Trạng thái</th>
                      <th scope="col">Tác vụ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>0305456852</td>
                      <td>CÔNG TY CỔ PHẦN SẢN XUẤT HÓA DƯỢC MEBIPHAR</td>
                      <td>NDL</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>TP. HCM</td>
                      <td></td>
                      <td>Hoạt động</td>
                      <td><a href="#">Sửa</a></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>0305463257</td>
                      <td>CÔNG TY CỔ PHẦN DƯỢC PHẨM DƯỢC TRÀ VINH</td>
                      <td>NSX</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>TP. Trà Vinh</td>
                      <td></td>
                      <td>Hoạt động</td>
                      <td><a href="#">Sửa</a></td>
                    </tr>
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->
  
              </div>
               </div>
            </div>
          </form><!-- End Multi Columns Form -->

          </div>
      </div>
</section>
